* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
}


/*********header*******/
header {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px;
    
}

header ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-left: 7rem;
    
}


/****video part***/

.videopart {
    width: 100%;
    height: 100vh;
    position: relative;  
    border: solid black;
}

.invideo video {
    width: 100%;
    position: absolute
}
.üstyazılar { 
    position: absolute;
    height: 40vh;
    width: 50vw;
    text-align: center;
    top: 40%;
    left: 25%;
    font-size: 25px;
    color: white;
}

/*****fısh****/
.type-of-fısh {
    display: flex;
    margin: 20vh 5vw;
    //border: solid green;
}
.fıshtype {
    width: 20%;
    height: 40vh;
    gap: 10px;
    text-align: center;
    //border: solid yellow;
    margin-top: 30px;
    padding: 25px 25px;
    
}

.fıshtype p {
    line-height: 1.5rem;
    margin-top: 1rem;
}


/****image and text **/
.imgandtext {
    display: flex;
    padding: 10px;
}

.inimg {
    width: 50%;
    //border: solid green;
    margin:5px
}
.inimg img {
    font-size: 100px;
}
.intext {
    display: flex;
    width: 50%;
    //border: solid green;
    margin:5px;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 231, 230);
}
.h2andp {
    width: 60%;   
}

.imgandtext1 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
  
}
.inimg2 {
    width: 50%;
    margin:5px;
    display: flex;
    justify-content: end;
}

.intext2 {
    display: flex;
    width: 50%;
    margin:5px;
    align-items: center;
    justify-content: center;
    text-align: left;
    
}
.inimg2 img {
    
    border: solid 5px white;
    box-shadow: 0px 0px 20px  rgb(175, 172, 172);
    
}
.h2andp2 {
    width: 60%;
}

.imgandtext2 {
    width: 100%;
    height: 90vh;
    background-image: url(IMG_3790.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   
}


.imgandtext3{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
    
}

.three-photo{
    width: 90%;
    margin:15px auto;
}
.three-photo img {
    width: 30%;
    height: 40vh;
    margin: 15px;
}
.h2anda  .ina {
    background-color: rgb(138, 138, 181);
    
    width: 15vw;
    height: 2rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h2anda  .ina a {
    text-decoration: none;
    color: white;
}

.navigation {
    margin-top: 50px;
    height: 90vh;
    
}
footer{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer a {
    text-decoration: none;
    color: black;
}